.dropbtn:hover, .dropbtn:focus {
	background-color: #2980B9;
}
.dropbtn {
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown a:hover {background-color: #ddd;}
.topic{
	font-weight: bold;
	font-size: 20px;
}

ol{
	list-style-type:none;
	/*padding-left: 17%;*/
}
li{
	list-style-type: none;
}
td{
	text-align: center;
	margin:20px;
}
table, th, td {
  border: 1px solid black;
}
th, td {
  padding: 15px;
	white-space: nowrap;
}

.problemnum{
	width: 10px;
	white-space: nowrap;
}

.link{
	width:10px;
	white-space: nowrap;
}
.namesize{
	width:50px;
	white-space: nowrap;
}
.welcome{
	padding-left: 20%;
}
.passed {
	background-color: #e6ffe6;
	color: black;
}

.division h2 {
	text-align: left;
}

.info div{
	display: table;
	width: 80%;
}

.line {
	border-width:0;
	float: left;
	color:#474d47;
	background-color:#474d47
}

.div-line {
	height:10px;
	width: 100%;
}

.question-line {
	height:2px;
	width: 105%;
}

.categories-div {
	display: table-row;
	width: 100%;
}

.progress-bar-div {
	width: 69%;
	display: table;
}

.category {
	width: 33%;
	display: table-cell;
	padding-right: 20px;
}

.categories {
	width: 80%;
	display: table;
	padding-top: 1%
}

.division-title {
	padding-top: 2%
}

/*div.locked:hover {*/
/*	cursor: not-allowed;*/
/*}*/

.locked {
	pointer-events: none;
	background-color: gray;
	opacity: 0.5;
	padding: 1%;
	width: 100%;
}
